<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/users/home">Home</a>
    <a href="/recipes/browse">Browse</a>
    <a href="/users/profile/<%= user.id %>">Profile</a>
    <a href="/" action="/logout">Log Out</a>
    <h1>About Noods</h1>
    <div>
        <p>Welcome to Noods! Your one-stop-shop for the best Instant Noodle recipes. Feel free to show us your best Noods and let others know how much you've enjoyed their Noods!</p>
        <p>Borke and eating Insta Noods to save some money? Getting tired of the same ol' same ol' every day? We've been there and done that. Sucks, right? That's where Noods come in, spice up your Nood game with some tasty recipes! We got the Noods you crave!</p>
    </div>
</body>
</html>