<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Noods</h1>
    <div>
        <p>Welcome to Noods! Your one-stop-shop for the best Instant Noodle recipes. Feel free to show us your best Noods and let others know how much you've enjoyed their Noods!</p>
    </div>
</body>
</html>