<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/styles/main.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Odibee+Sans#standard-styles">
    <title>Noods</title>
</head>
<body>
    <%- include("../header") %>
    <div class="home__image">
    </div>
    <div class="home__container">
        <div class="p__container">
            <h1>About Noods</h1>
                <p class="p__about">Welcome to Noods! Your one-stop-shop for the best Instant Noodle recipes. Feel free to show us your best Noods and let others know how much you've enjoyed their Noods!</p>
                <p class="p__about">Broke and eating Insta Noods to save some money? Getting tired of the same ol' same ol' every day? We've been there and done that. Sucks, right? That's where Noods comes in, spice up your Nood game with some tasty recipes! We got the Noods you crave!</p>
        </div>
    </div>
</body>
</html>