<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/styles/main.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Noods</title>
</head>
<body>
    <%- include("../header") %>
    <div class="profile__container">
        <div class="profile__header">
            <h1><%= user.username %></h1>
            <a id="profile__link" href="/recipes/new">Add Recipe</a>
        </div>
        <div class="profile__allRecipes">
            <ul>Recipes
                <% if(!user.recipes) { %>
                <p>You haven't posted any Noods yet! ;)</p>
                <% } %>
                <% if(user.recipes) { %>  
                    <% user.recipes.forEach(recipe => { %>
                        <li><a class="profile__recipe" id="profile__link" href="/recipes/show/<%= recipe._id %>"><%= recipe.title %></a></li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>