<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <a href="/users/home">Home</a>
    <a href="/users/about">About</a>
    <a href="/recipes/browse">Browse</a>
    <a href="/" action="/logout">Log Out</a>
    <h1><%= user.username %></h1>
    <a href="/recipes/new">Add Recipe</a>
    <div>
        <ul>Recipes
            <% if(!user.recipes) { %>
            <p>You haven't posted any Noods yet! ;)</p>
            <% } %>

            <% if(user.recipes) { %>  
                <% user.recipes.forEach(recipe => { %>
                    <li><a href="/recipes/show/<%= recipe._id %>"><%= user.recipes.title %></a></li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</body>
</html>