<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <h1><%= user.username %></h1>
    <a href="/" action="/logout">Log Out</a>
    <a href="/recipes/browse">Browse</a>
    <div>
        <ul>Recipes
            <li>flounder in recipes with forEach method</li>
        </ul>
    </div>
    <div>
        <ul>Comments
            <li>flounder in comments with forEach method</li>
        </ul>
    </div>
</body>
</html>