<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <h1>Browse Page</h1>
    <ul>Catagory 1
        <li>Cat 1 Recipe 1</li>
        <li>Cat 1 Recipe 2</li>
        <li>Cat 1 Recipe 3</li>
    </ul>
    <ul>Catagory 2
        <li>Cat 2 Recipe 1</li>
        <li>Cat 2 Recipe 2</li>
        <li>Cat 2 Recipe 3</li>
    </ul>
    <ul>Catagory 3
        <li>Cat 3 Recipe 1</li>
        <li>Cat 3 Recipe 2</li>
        <li>Cat 3 Recipe 3</li>
    </ul>
</body>
</html>