* {
    background-color: #FFF9EC;
}

h1,
h3,
h4,
ul,
li,
p {
    /* color: #47240F; */
    color: #FFaF03;
    /* color: #8F481E; */
}

a {
    color: #47240F;
}

input {
    cursor: pointer;
}

/* === | Navbar | === */
.navbar {
    background-color: #568709;
    height: 75px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar__right {
    background-color: #568709;
}

.navbar__image {
    height: 60px;
    width: auto;
    background-color: #568709;
    color: #47240F;
}

.nav__link {
    background-color: #568709;
    color: #47240F;
    margin: 0 8px;
}

/* === | Home Page | === */
.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.p__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p__about {
    margin: 20px 200px;
    font-size: x-large;
}

/* === | Browse Page | === */
.browse__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.browse__link {
    color: #47240F;
}

#browse__add {
    padding-top: 30px;
    font-size: x-large;
}

.recipes__container {
    display: flex;
}

.recipes__list {
    margin: 25px;
    font-size: xx-large;
}

.recipes {
    margin: 10px 0;
    font-size: x-large;
}

/* === | Landing Page | === */
.landing__card {
    /* border: #47240F solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding: 50px 0;
}

.register__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

#register__header {
    padding: 10px 0 10px 0;
}

.login__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.landing__buttons {
    width: 75px;
    position: relative;
    border-radius: 10px;
    background-color: #47240F;
    color: #FFaF03;
}

/* TODO === | Recipe Show Page | === */
.recipe__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.recipe__header {
    margin: 30px 0 0 50px;
}

.recipe__body {
    margin: 30px 50px;
}

#recipe__link {
    color: #47240F;
}

#recipe__button {
    border-radius: 10px;
    background-color: #47240F;
    color: #FFaF03;
}

.recipe__commentsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

/* TODO === | Profile Page | === */
.profile__link {
    color: #47240F;
}

/* TODO === | New Recipe Page | === */

/* TODO === | Edit Recipe Page | === */

/* TODO === | Edit Comment Page | === */

/* TODO === | Brownie Page | === */