<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <h1>Browse Page</h1>
    <a href="/recipes/new">Add Recipe</a>
    <div>
        <ul>Recipes
            <li>Recipe 1</li>
            <li>Recipe 2</li>
            <li>Recipe 3</li>
            <li>Recipe 4</li>
            <li>Recipe 5</li>
        </ul>
    </div>
</body>
</html>