<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/styles/main.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <title>Noods</title>
</head>
<body>
    <%- include("../header") %>
    <div class="brownie__container">
        <div class="brownie__ingredients">
            <h1>Super Sneak-ret Brownies</h1>
            <h3>Ingredients</h3>
            <ul>
                <li>8oz. unsweetened choclate</li>
                <li>8oz. (2 sticks) unsalted butter</li>
                <li>(Optional) 8oz. (2 generous cups) walnuts</li>
                <li>5 Large eggs</li>
                <li>2 teaspoons vanilla extract</li>
                <li>1/2 teaspoon almond extract</li>
                <li>1/4 teaspoon salt</li>
                <li>1 tablsspoon plus 1 teaspoon powdered instant espresso</li>
                <li>3 3/4 cups granulated sugar</li>
                <li>1 2/3 cupssifted unbleached flour</li>
                <li>2 14 or 15 oz. bags of York chocolate-covered peppermint patties</li>
            </ul>
        </div>
        <div class="brownie__directions">
            <h3>Directions</h3>
            <ul>
                <li>Pre-heat over to 425 degrees.</li>
                <li>Line a 9" by 11" by 2" pan with foil. Invert the pan and use the back to get the foil shape correct.</li>
                <li>Coat foil with melted butter (this is additional butter than what the recipe calls for).</li>
                <li>Set pan aside.</li>
                <li>Place choclate and butter in a large bowl on top of a pot with boiling water to melt choclate and butter.</li>
                <li>Stir until choclate and butter are melted and mixed together.</li>
                <li>Remove from heat and set choclate and butter aside.</li>
                <li>Crush walnuts and set aside.</li>
                <li>In a large bowl of an electric mixer, whisk eggs, vanilla and walnut extracts, salt, espresso, and sugar at a high speed for 10 minutes.</li>
                <li>Lower mixer speed to low and add choclate and butter mix. Choclate and butter mix may still be warm and that's ok.</li>
                <li>Mix only until everything is mixed.</li>
                <li>Remove bowl from mixer.</li>
                <li>Stir in walnuts.</li>
                <li>Pour half of the mixture (about 3 1/2 cups) into pre-prepared baking pan.</li>
                <li>Place layer of mints with the edges touching. Cut mints into smaller pieces to fill in gaps.</li>
                <li>Don't worry about using all the mints, there will be extras.(A.k.a. snacks!)</li>
                <li>Pour remaining mixture on top of mints. There will be some leftover as well (more snacks!)</li>
                <li>Bake for 35 minutes, rotating the pan 180 degrees halfway through to ensure an even bake.</li>
                <li>Brownies should have a firm crust when done.</li>
                <li>If you insert a toothpic, it WILL come out wet and covered with choclate. That's ok, it is done. DO NOT bake more!</li>
                <li>Let them stand until cool, then server! Or eat them all yourself, we won't judge!</li>
                <li>Try them frozen!</li>
            </ul>
        </div>
    </div>
</body>
</html>