<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <h1>Browse Page</h1>
    <a href="/users/home">Home</a>
    <a href="/recipes/new">Add Recipe</a>
    <a href="/users/profile/<%= user.id %>">Profile</a>
    <a href="/users/about">About</a>
    <div>
        <ul>Recipes
            <% recipes.forEach(recipes => { %>
            <li><a href="/recipes/show/<%= recipes._id %>"><%= recipes.title %></a></li>
                <% }) %>
            
        </ul>
    </div>
</body>
</html>