<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/styles/main.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <title>Noods</title>
</head>
<body>
    <%- include("../header") %>
    <div class="new__container">
        <div class="new__header">
            <h1>Add New Recipe Page</h1>
            <% if(err) { %>
                <p><%= err %></p>
                <p>Tips: Title, Directions, Portion(s), and Cooking Method are required. The "Portion(s)" field must be a Number.</p>
                <% } %>
        </div>
        <div class="input__container">
            <h5>How do you like your Noods?</h5>
            <form action="/recipes/show" method="POST">
                <p>
                    <input class="new__input" type="text" name="title" placeholder="Title" />
                </p>
                <p>
                    <input class="new__input" type="text" name="description" placeholder="Directions" />
                </p>
                <p>
                    <input class="new__input" type="text" name="portion" placeholder="Portions (number of packets used)" />
                </p>
                <p>
                    <input class="new__input" type="text" name="cookMethod" placeholder="Cooking Method (Stove/Microwave)" />
                </p>
                <p>
                    <input class="new__input" type="text" name="spice" placeholder="Spices" />
                </p>
                <p>
                    <input class="new__input" type="text" name="proteins" placeholder="Proteins" />
                </p>
                <p>
                    <input class="new__input" type="text" name="veggies" placeholder="Veggies" />
                </p>
                <input class="new__input" id="recipe__button" type="submit" value="Add your Noods!" />
            </form>
        </div>
    </div>
</body>
</html>