<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noods</title>
</head>
<body>
    <h1>Add New Recipe Page</h1>
    <div>
        <form action="/recipes/recipe" method="POST">Form start
            <p>
                <input type="text" name="title" placeholder="Title" />
            </p>
            <p>
                <input type="text" name="description" placeholder="Description" />
            </p>
            <p>
                <input type="text" name="portion" placeholder="Portions" />
            </p>
            <p>
                <input type="text" name="cookMethod" placeholder="Cooking Method" />
            </p>
            <p>
                <input type="text" name="spice" placeholder="Spices" />
            </p>
            <p>
                <input type="text" name="proteins" placeholder="Proteins" />
            </p>
            <p>
                <input type="text" name="veggies" placeholder="Veggies" />
            </p>
            <input type="submit" value="Add your Noods!" />
        </form>
    </div>
</body>
</html>